/* 订单信息 */
.order-info .text{
    height: 35px;
    line-height: 35px;
    width: 200px;
    text-align: right;
    font-size: 15px;
}
.order-info .value{
    height: 35px;
    line-height: 35px;
    width: 200px;
    text-align: left;
    font-size: 15px;
}
.order-info .btn{
    width: 65px;
    height: 32px;
    line-height: 32px;
    font-size: 13px;
    text-align: center;
    padding: 0px;
    margin-right: 10px;
    margin-top: 8px;
    margin-bottom: -8px;
}
/* 商品信息表 */
.product-table{
    width: 100%;
    border-collapse: collapse;
    background: #fafafa;
    margin-bottom: 15px;
}
.product-table .cell{
    border-bottom: 1px dotted #aaa;
}
.product-table .cell-th{
    background: #eee;
    padding: 10px 0px;
    color: #666;
}
.product-table .cell-img{
    padding: 10px;
    width: 13%;
    text-align: center;
}
.product-table .cell-img .p-img{
    border: 1px solid #bbb;
    width: 80px;
    height: 80px;
}
.product-table .cell-info{
    width: 26%;
    text-align: left;
}
.product-table .cell-price{
    width: 17%;
    text-align: center;
}
.product-table .cell-count{
    width: 17%;
    text-align: center;
}
.product-table .cell-total{
    width: 17%;
    text-align: center;
}
.product-table .cell-operate{
    width: 10%;
    text-align: center;
}
.btn-appraise{
    width: 60px;
    height: 30px;
    border-radius: 15px;
    border: none;
}
.btn-appraise:focus,
.btn-appraise:active:focus,
.btn-appraise.active:focus,
.btn-appraise.focus,
.btn-appraise:active.focus,
.btn-appraise.active.focus {
    outline: none;
    border: none;
    border-color: transparent;
    box-shadow:none;
}
.has-appraise{
    border: none;
    background-color: #fafafa;
}
.radio-appraise{
    display: none;
}
.btns-appraise{
    margin-bottom: 13px;
}
.glyphicon-star-empty{
    font-size: 28px;
    color: #acacac;
    line-height: 33px;
}
.appraise{
    border: none;
    box-shadow:none;
    outline: none;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 20px;
    margin-right: 15px;
    background-color: #ffffff;
}
.active{
    color:#F10215;
}

.modal-content{
    width: 400px;
    margin: auto;
}

.modal-footer{
    padding: 5px;
    padding-right: 15px;
    height: 58px;
}

.btn-publish{
    background-color: #f10215;
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
    padding: 0px;
    margin: 3px auto;
}
.btn-publish:focus,
.btn-publish:active:focus,
.btn-publish.active:focus,
.btn-publish.focus,
.btn-publish:active.focus,
.btn-publish.active.focus {
    outline: none;
    border: none;
    border-color: transparent;
    box-shadow:none;
}

/* 订单总价 */
.total{
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    height: 37px;
    line-height: 37px;
    text-align: right;
    margin-bottom: 0px;
    margin-top: -16px;
    background: #fafafa;
    background-color: #eee;
}
.total .total-price{
    font-weight: bold;
    color: #F10215;
    width: 103px;
    float: right;
    text-align: left;
    font-size: 17px;
}

/* 错误信息 */
.err-tip{
    height: 70px;
    line-height: 70px;
    margin-top: 15px;
    margin-right: 20px;
    color: #f10215;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    background: #eee;
    border-radius: 10px;
}